# =======================
# Environment secrets
# =======================
**/.env
.env
# =======================
# Maven
# =======================
target/
*.class
*.jar
# =======================
# IDE
# =======================
.idea/
*.iml
.vscode/
